<!-- #section:basics/sidebar -->
<div id="sidebar" class="sidebar responsive">
  <script type="text/javascript">
      try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
  </script>

  <div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
      <a class="btn btn-success" data-href="#">
        <i class="ace-icon fa fa-qrcode"></i>
      </a>

      <a data-href="#" class="btn btn-info">
        <i class="ace-icon fa fa-bar-chart"></i>
      </a>

      <!-- #section:basics/sidebar.layout.shortcuts -->
      <a data-href="" class="btn btn-warning">
        <i class="ace-icon fa fa-gift"></i>
      </a>

      <a data-href="" class="btn btn-danger">
        <i class="ace-icon fa fa-cog"></i>
      </a>

      <!-- /section:basics/sidebar.layout.shortcuts -->
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
      <span class="btn btn-success"></span>

      <span class="btn btn-info"></span>

      <span class="btn btn-warning"></span>

      <span class="btn btn-danger"></span>
    </div>
  </div>
  <!-- /.sidebar-shortcuts -->

  <ul class="nav nav-list">
    <li class="active">
      <a data-href="/dashboards/index">
        <i class="menu-icon fa fa-tachometer"></i>
        <span class="menu-text"> 仪表盘 </span>
      </a>

      <b class="arrow"></b>
    </li>

    <li >
      <a data-href="<%= consumer_infos_path %>">
        <i class="menu-icon fa fa-pencil-square-o"></i>
        <span class="menu-text"> 客户信息 </span>
      </a>

      <b class="arrow"></b>
    </li>

    <li >
      <a data-href="<%= suppliers_path %>">
        <i class="menu-icon fa fa-pencil-square-o"></i>
        <span class="menu-text"> 供应商信息 </span>
      </a>

      <b class="arrow"></b>
    </li>

    <li >
      <a data-href="<%= distributors_path %>">
        <i class="menu-icon fa fa-pencil-square-o"></i>
        <span class="menu-text"> 分销商信息 </span>
      </a>

      <b class="arrow"></b>
    </li>

    <li >
      <a data-href="<%= vehicleinfos_path %>">
        <i class="menu-icon fa fa-pencil-square-o"></i>
        <span class="menu-text"> 车辆信息 </span>
      </a>

      <b class="arrow"></b>
    </li>
    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-desktop"></i>
        <span class="menu-text">销售管理</span>
        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>
      <ul class="submenu">
        <li class="">
          <a data-href="<%= cash_purchases_path %>">
            <i class="menu-icon fa fa-caret-right"></i>
            现金购买
          </a>
          <b class="arrow"></b>
        </li>

        <li class="">
          <a data-href="<%=  %>">
            <i class="menu-icon fa fa-caret-right"></i>
            赊销购买
          </a>
          <b class="arrow"></b>
        </li>

        <li class="">
          <a data-href="<%=  %>">
            <i class="menu-icon fa fa-caret-right"></i>
            以旧换新
          </a>
          <b class="arrow"></b>
        </li>

      </ul>
    </li>

    <li >
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-pencil-square-o"></i>
        <span class="menu-text">代办事项</span>
        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>
      <ul class="submenu">
        <li class="">
          <a data-href="<%=  %>">
            <i class="menu-icon fa fa-caret-right"></i>
            待收欠款
          </a>
          <b class="arrow"></b>
        </li>

        <li class="">
          <a data-href="<%=  %>">
            <i class="menu-icon fa fa-caret-right"></i>
            待通知保养
          </a>
          <b class="arrow"></b>
        </li>

        <li class="">
          <a data-href="<%=  %>">
            <i class="menu-icon fa fa-caret-right"></i>
            待催交保险
          </a>
          <b class="arrow"></b>
        </li>

        <li class="">
          <a data-href="<%=  %>">
            <i class="menu-icon fa fa-caret-right"></i>
            待生日祝福
          </a>
          <b class="arrow"></b>
        </li>

        <li class="">
          <a data-href="<%=  %>">
            <i class="menu-icon fa fa-caret-right"></i>
            待办其他
          </a>
          <b class="arrow"></b>
        </li>

      </ul>
    </li>

    <% if @userinfo.is_business %>
        <%=render 'partials/business_siderbar' %>
    <% end %>

    <% if @userinfo.is_platform %>
        <%=render 'partials/platform_siderbar' %>
    <% end %>

  </ul><!-- /.nav-list -->
  <!-- /.nav-list -->

  <!-- #section:basics/sidebar.layout.minimize -->
  <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
  </div>

  <!-- /section:basics/sidebar.layout.minimize -->
  <script type="text/javascript">
      try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
  </script>
</div>

<!-- /section:basics/sidebar -->
