.hr.hr-16.hr-dotted
.row
  .container
    = form_for @userinfo , remote:true do |f|
      #error_explanation{"style"=>"display:none"}
        %ul
      .col-sm-12
        %form.form-horizontal
          .form-group
            = f.label :shopname,:class=>'col-sm-2 control-label no-padding-right'
            .col-sm-9
              = f.text_field :shopname,{:class=>'form-control'}
          .form-group
            .field
              = f.label :name,:class=>'col-sm-2 control-label no-padding-right'
            .col-sm-9
              = f.text_field :name,class:'form-control'
          .form-group
            .field
              = f.label :idnumber,:class=>'col-sm-2 control-label no-padding-right'
            .col-sm-9
              = f.text_field :idnumber,{:class=>'form-control'}
          .form-group
            .field
              = f.label :mobile,:class=>'col-sm-2 control-label no-padding-right'
            .col-sm-9
              = f.text_field :mobile,{:class=>'form-control'}
          .form-group
            .field
              = f.label :email,:class=>'col-sm-2 control-label no-padding-right'
            .col-sm-9
              = f.text_field :email,{:class=>'form-control'}
          .form-group
            .field
              = f.label :remark,:class=>'col-sm-2 control-label no-padding-right'
            .col-sm-9
              = f.text_area :remark,{:class=>'form-control'}
          .form-group
            .col-sm-offset-2.col-sm-8
              = f.submit '保存',:class=> 'btn btn-info'
              - if current_user.has_role?(:userinfo_admin)
                = link_to '返回','','data-href' => "#{userinfos_path}?parent_id=#{@parent_id}",:class => 'btn btn-default'