.hr.hr-16.hr-dotted
.row
  .container
    = form_for @cash_purchase,url:{action: @action}, remote:true do |f|
      #error_explanation{"style"=>"display:none"}
        %ul
      .col-sm-12
        %form.form-horizontal
          .form-group
            .field
              = f.label :licenseplatenumber,'车牌号',:class=>'col-sm-2 control-label no-padding-right'
            .col-sm-3
              = f.text_field :licenseplatenumber,:class=>'form-control'
          .form-group
            .field
              = f.label :colour,'颜色',:class=>'col-sm-2 control-label no-padding-right'
            .col-sm-3
              = f.text_field :colour,:class=>'form-control'
          .form-group
            .field
              = f.label :motornumber,'电动机号',:class=>'col-sm-2 control-label no-padding-right'
            .col-sm-3
              = f.text_field :motornumber,:class=>'form-control'
          .form-group
            .field
              = f.label :enginenumber,'发动机号码',:class=>'col-sm-2 control-label no-padding-right'
            .col-sm-3
              = f.text_field :enginenumber,:class=>'form-control'
          .form-group
            .field
              = f.label :carprice,'购买价格',:class=>'col-sm-2 control-label no-padding-right'
            .col-sm-3
              = f.text_field :carprice,:class=>'form-control'
          .form-group
            .field
              = f.label :buyingtime,'购买时间',:class=>'col-sm-2 control-label no-padding-right'
            .col-sm-3
              = f.text_field :buyingtime,:class=>'form-control'
          .form-group
            .field
              = f.label :scheduledmaintenance,'预约保养时间',:class=>'col-sm-2 control-label no-padding-right'
            .col-sm-3
              = f.text_field :scheduledmaintenance,:class=>'form-control'
          .hr.hr-16.hr-dotted
          .actions.col-sm-1.col-sm-offset-3
            = f.submit '保存',:class=> 'btn btn-success'
          .actions.col-sm-8
            = link_to '返回列表','', 'data-href' => cash_purchases_path,:class=>'btn btn-primary'