!!!
%html{:lang => "en", 'ng-app' => 'lark'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:charset => "utf-8"}/
    %title= "酒运达"
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "all", :media => "all"

    = javascript_include_tag "angular.min"
    = javascript_include_tag "application"
    = javascript_include_tag "app_plugin"
    = javascript_include_tag "app_ace"
    = javascript_include_tag "app"


    /[if lte IE 9]
      = stylesheet_link_tag "ace/ace-part2.css"
      = stylesheet_link_tag "ace/ace-ie.css"
    / ace settings handler
    = javascript_include_tag "ace/ace-extra.js"

    / HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries
    /[if lte IE 8]
      = javascript_include_tag "ace/html5shiv.js"
      = javascript_include_tag "ace/respond.js"
  %body.no-skin
    %div#jplayer
    = render 'partials/navbar'
    #main-container.main-container
      = render 'partials/sidebar'
      .main-content
        .main-content-inner
          = render 'partials/breadcrumbs'
          .page-content
            / PAGE CONTENT BEGINS
            .page-content-area{'data-ajax-content' => true}
              = yield
      / PAGE CONTENT ENDS
      / /.page-content
      / /.main-content

      %a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse{:href => "#"}
        %i.ace-icon.fa.fa-angle-double-up.icon-only.bigger-110
    / /.main-container
    / basic scripts
    / page specific plugin scripts
    /[if lte IE 8]
      <haml_loud> javascript_include_tag &quot;/theme/ace/js/excanvas.min.js&quot; </haml_loud>

  %input{"type"=>"hidden","id"=>"current_userinfo_id","value"=>"#{@userinfo.id.to_s}"}
%html
  :javascript

    $(document).ready(function(){

        $('.datepicker').datepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true
        });
        /* Activating Best In Place */
        jQuery(".best_in_place").best_in_place();
    });

    $('.page-content-area').ace_ajax({
      content_url: function(hash) {
        //hash is the value from document url hash
        if (hash.indexOf('|hash') > -1) {
          hash = hash.substr(0, hash.indexOf('|hash'));
        }

        console.log(hash);

        //take "url" param and return the relevant url to load
        return hash;
      },
      default_url: '/dashboards/index'
      ,
      loading_icon: "fa-cog fa-2x blue"
    });

