<div>
  <div class="main_txt">修改用户登录密码</div>
  <div>
    <%= form_tag("", method: "post", remote: true, onSubmit: "return checkPwd()") do %>
        <%= label_tag('old_password', '旧密码:', class: 'pwd_label') %>
        <%= password_field_tag('old_password', nil, class: 'pwd_input') %><br>
        <%= label_tag('new_password', '新密码:', class: 'pwd_label') %>
        <%= password_field_tag('new_password', nil, class: 'pwd_input') %><br>
        <%= label_tag('confirm_password', '确认新密码:', class: 'pwd_label') %>
        <%= password_field_tag('confirm_password', nil, class: 'pwd_input') %><br>
        <%= submit_tag("提交修改", class: 'pwd_submit') %>
    <% end %>
  </div>
</div>
