= form_for @vehicleinfo ,url:{action: @action}, remote:true do |f|
  #error_explanation{"style"=>"display:none"}
    %ul

  %table{class: "table table-bordered table-hover"}
    %tr{class:'attr-category'}
      %td
        %label{class:'attr-category'}
          基本信息
      %td{colspan:3}
    %tr
      %td
        = f.label :车辆品牌
      %td
        = f.text_field :vehicle_brand,:class=>'form-control'
    %tr
      %td
        = f.label :车辆名称
      %td
        = f.text_field :vehicle_name,:class=>'form-control'
    %tr
      %td
        = f.label :车辆型号
      %td
        = f.text_field :vehicle_model,:class=>'form-control'
    %tr
      %td
        = f.label :发动机号
      %td
        = f.text_field :vehicle_engine_number,:class=>'form-control'
    %tr
      %td
        = f.label :车辆颜色
      %td
        = f.text_field :vehicle_color,:class=>'form-control'
    %tr
      %td
        = f.label :车辆款式
      %td
        = f.text_field :vehicle_style,:class=>'form-control'

  .actions
    = f.submit '保存',class:'btn btn-info',style:'display:'+(@operation == 'show' ? 'none':'inline' )+'',:class=> 'btn btn-success',:data => { :disable_with => "保存中..." }
    &nbsp;&nbsp;&nbsp;
    %a{class:'btn','data-href'=> vehicleinfos_path}
      %i{class:'ace-icon fa fa-return bigger-110'}返回


